<h1> WELCOME TO YOUR GAME MWAHAHAHAH </h1>
<br>
<br>

<div class="col-12 text-center">

  <% if @game.black_player_id == nil && @game.white_player_id != current_user.id %>
    <%= link_to 'Join', game_path, method: :put, class: 'btn btn-primary btn-large' %>
  <% end %>
</div>

<br>
<br>

<table>
<%(0..7).reverse_each do |position_row|%>
  <tr class= 'position_row'>
        
    <%(0..7).each do |position_column|%>
      <td class= 'position_column' data-x-position'<%=position_column%>' data-y-position'<%=position_row%>'>
      <div class='chess_pieces'>
      <%piece = @game.data_method[position_column][position_row]%>  
      <%=piece.symbol.html_safe if piece.present?%>
      </div>
      </td>
    <% end %>
  </tr>
<%end %>
<table>
