<h1> Available Games </h1>

<% @available.each do |game| %>
  <h2 class="text-center"> 
    <%= link_to "Game #{game.id}", game_path(game) %> 
    <br>
  </h2>
 <% end %>

<br>
<h1> Do we need this here too?</h1>
<!--#html is is the static.scss -->
<table>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
