

<h2 class="text-center"> 
  <%= link_to "Start New Game", new_game_path %> 
</h2>

<br>

<h1> Available Games </h1>

<% @available.each do |game| %>
  <h2 class="text-center"> 
    <%= link_to "Game #{game.id}", game_path(game) %> 
    <br>
  </h2>
<% end %>

<h1> Current Games </h1>
  <% if current_user %> <!-- Fixes error when no user is logged in -->
  <% @current.each do |game| %>
    <% if current_user.id == game.white_player_id || current_user.id == game.black_player_id %>
    <h2 class="text-center"> 
    <%= link_to "Game #{game.id}", game_path(game) %> 
    <br>
    </h2>
    <% end %>
  <% end %>
  <% end %>
<br>
