
  <h2 class="text-center"> 
    <%= link_to "Start New Game", new_game_path %> 
  </h2>


<br>

<h1> Available Games </h1>

<% @available.each do |game| %>
  <h2 class="text-center"> 
    <%= link_to "Game #{game.id}", game_path(game) %> 
    <br>
  </h2>
 <% end %>

<br>


